@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  margin: 0; /* Optional: to reset default margin */
  padding: 0; /* Optional: to reset default padding */
}
